@model List<FootballClubApp.Models.TeamPlayer>
@{
    ViewBag.Title = "Team Details";
    Layout = null;
}
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/realsite.css" rel="stylesheet" />
    <link href="~/Content/PFGeneral.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div id="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="home-account" style="float:right;">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="main-header" style="background-color: #1E88E5">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">

                            <a href="/Home/Index"><img height="100" width="100" src="~/Images/logo.png" title="English Premier League" alt="English Premier League"></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div class="page-wrapper">

        <div class="main">
            <div class="container">
                <div class="content">
                    <div class="col-sm-12 col-sm-offset-0">
                        <h2 class="page-header center">@Session["TeamName"]</h2>
                        <div class="box">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Goals</th>
                                        <th scope="col">Assist</th>
                                        <th scope="col">Played</th>
                                        <th scope="col">Total Shots</th>
                                        <th scope="col">Goal Conversion</th>
                                        <th scope="col">Shot Accuracy</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <th scope="row">@item.ID</th>
                                                <td>@item.Name</td>
                                                <td>@item.Goals</td>
                                                <td>@item.Assist</td>
                                                <td>@item.Played</td>
                                                <td>@item.TotalShots</td>
                                                <td>@item.GoalConversion</td>
                                                <td>@item.ShotAccuracy</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div><!-- /.box -->
                    </div><!-- /.col-* -->
                </div><!-- /.content -->
            </div><!-- /.container -->


        </div><!-- /.main -->


        <div id="footer" class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="footer-top-inner">
                        <nav>
                            <ul class="nav nav-pills">
                            </ul>
                        </nav>
                    </div><!-- /.footer-top-inner -->
                </div><!-- /.container -->
            </div><!-- /.footer-top -->

            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-inner">
                        <div class="footer-bottom-left">
                        </div><!-- /.footer-bottom-left -->

                        <div class="footer-bottom-right">
                        </div><!-- /.footer-bottom-right -->
                    </div><!-- /.footer-bottom-inner -->
                </div><!-- /.container -->
            </div><!-- /.footer-bottom -->
        </div><!-- /.footer -->

    </div><!-- /.page-wrapper-->

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>